.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(43, 42, 42, 0.5), rgba(43, 42, 42, 0.5)), url("https://images.unsplash.com/photo-1542766788-a2f588f447ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid black;
  background-color: #F2F3F4
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

.nav-links a:hover {
  text-shadow: 0 0 3px gray;
}

.header-container{
  display: flex;
  font-family: 'Pacifico', cursive;
}

.header-icon{
  width: 100%;
  max-width: 4%;
  margin: 1%;
}

.header{
  font-size: 2rem;
}

.workout-card{
  border: 1px solid black;
  width: 25%;
  margin-left: 38%;
  margin-bottom: 2%;
  background-color: #F2F3F4;
}

.workout-items{
  font-size: 1.2rem;
}

img{
  width:100%;
  max-width: 35%;
  margin-bottom: 2%;
}

.form-container {
  border: 1px solid black;
  width: 100%;
  max-width: 30%;
  margin: 2% 0 0 35%;
  background-color: #F2F3F4;
} 

.form-container, .forms{
  display:flex;
  flex-direction: column;
}

label {
  width: 65%;
  margin: 3% 0 0 20%;
  font-size: 1.5rem;
}


.checkbox-container{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10%;
}

button{
  font-size: 1rem;
  border-radius: 20%;
  padding: 2%;
  margin: 5% 5%;
  width: 20%;
  /* background-color: #EBF5FB; */
  background-color: #D6EAF8;
  /* background-color: #008CBA; */
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
}


