.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(43, 42, 42, 0.5), rgba(43, 42, 42, 0.5)), url("https://images.unsplash.com/photo-1517964603305-11c0f6f66012?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid black;
  background-color: #F2F3F4
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

/* .nav-links a:hover {
  text-shadow: 0 0 3px gray;
} */

.header{
  display: flex;
  font-size: 4rem;
  padding: 0.5%;
}

.workout-container {
  width: 100%;
}

.workout-card {
  border: 1px solid black;
  background-color: #F2F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 0;
  height: 3vh;
  margin-bottom: 0.5%;
}

.workout-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  justify-content: start;
  width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 8%;
}

.button-container button{
  color: black;
  border: none;
  background: none;
  margin: 2% 10% 0 2%;
}

span {
  font-weight: bold;
}

.body-container{
  width: 100%;
}

.body-card {
  border: 1px solid black;
  background-color: #F2F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  height: 3vh;
  margin-bottom: 0.5%;
}

.body-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  width: 100%;
  max-width: 53%;
}

.body-container label{
  display: none;
}

.form-container {
  border: 1px solid black;
  width: 100%;
  max-width: 30%;
  margin: 2% 0 0 35%;
  background-color: #F2F3F4;
} 

.form-container, .forms{
  display:flex;
  flex-direction: column;
}

label {
  width: 65%;
  margin: 3% 0 0 18%;
  font-size: 1.5rem;
}

button{
  color: white;
  font-weight: bold;
  background-color: #ff6347;
  font-size: 1rem;
  padding: 2%;
  margin: 5%;
  width: 65%;
  cursor: pointer;
}

.user-container{
  background-color: #F2F3F4;
  width: 100%;
  max-width: 50%;
  margin-left: 25%;
  padding: 1%;
}

.user-form-container{
  display: flex;
}

.user-button{
  width: 20%;
}

.user-form input{
  width: 55%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.adduser-container{
  width: 13%;
  background-color: #ff6347;
  margin: 1% auto;
  border: 1px solid black;
}

.adduser-container a{
  text-decoration: none;
  color: white;
}

.body-weight-entry h1{
  background-color: #F2F3F4;
  width: 20%;
  border: 1px solid black;
  margin: 1% auto;
}

.exercise-entry h1{
  background-color: #F2F3F4;
  width: 17%;
  border: 1px solid black;
  margin: 1% auto;
}