.addworkout-container {
    display: flex;
    flex-direction: column;
    margin: 0px 30%;
    padding: 40px;
    border: 1px solid black;
    background-color: #F2F3F4;
}
  
.workout-input {
    font-size: 15px;
    margin: 10px 0;
}
  
.add-button {
    width: 100px;
    align-self: center;
    /* background-color: #008CBA; */
    background-color: #D6EAF8;
    border: none;
    /* color: white; */
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}