.add-container{
    background-color: #F2F3F4;
    width: 100%;
    max-width: 70%;
    margin-left: 15%;
    padding: 1%;
}

.add-form-container{
    display: flex;
    justify-content: space-around;
}

.add-button{
    text-align: center;
    padding: 1%;
    width: 15%;
}

.add-form input{
    margin: 1%;
    width: 30%;
    height: 3vh;
}